= modal_dialog id: "confirmation", |
  header: { show_close: true, dismiss: 'modal', title: content_tag(:span, '  ', :class => 'glyphicon glyphicon-ok') + '  Confirmar Presença' }, |
  body: render(partial: 'shared/dialog_contents/confirmation'), |
  footer: content_tag(:button, 'Confirmar', :class => 'btn btn-success')

= modal_dialog id: "gifts", |
  header: { show_close: true, dismiss: 'modal', title: content_tag(:span, '  ', :class => 'glyphicon glyphicon-gift') + '  Lista de Presentes' }, |
  body: render(partial: 'shared/dialog_contents/gifts'), |
  footer: content_tag(:button, 'Fechar', :class => 'btn btn-default', 'data-dismiss' => 'modal') |