%nav.navbar.navbar-default.navbar-fixed-top{role: :navigation}
  .container

    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-links", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Navegação
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .navbar-brand Jéssica e Julio

    #navbar-links.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: '#home'} Início

        %li
          %a{href: '#story'} Nossa História


        %li
          %a{href: '#album'} Nosso Álbum


        %li
          %a{href: '#locations'} Localizações

        %li
          %a{href: '#messages'} Mensagens

      %ul.nav.navbar-nav.navbar-right
        %li
          .navbar-brand Faltam #{@days_left} dias

