%section
  %h4 Nós vamos casar!
  %p No dia 12 de julho de 2014, às 19 horas, nos casaremos na Igreja Casa de Oração, em Porciúncula/RJ.
  %p
    Logo após a cerimônia, ofereceremos uma recepção aos convidados.
    Clique
    %a{href: '#locations'} aqui
    para saber mais sobre as localizações.
  %p
    %br
    %a.btn.btn-success{href: '#confirmation', 'data-toggle' => 'modal'}
      %span.glyphicon.glyphicon-ok
      Confirmar Presença

    %a.btn.btn-default{href: '#gifts', 'data-toggle' => 'modal'}
      %span.glyphicon.glyphicon-gift
      Lista de Presentes


%section#story
  %h4 Nossa História
  .video-wrapper
    %iframe{allowfullscreen: "", frameborder: "0", height: "365", mozallowfullscreen: "", src: "//player.vimeo.com/video/90476856?title=0&byline=0&portrait=0&color=ff9b83", webkitallowfullscreen: "", width: "650"}


%section#album
  %h4 Nosso Álbum
  #gamma-container.gamma-container.gamma-loading
    %ul.gamma-gallery
      = render partial: 'photo', collection: @photos
    .gamma-overlay

%section#locations
  %h4 Localizações
  .col-md-3.content
    %center
      %h3 Porciúncula / RJ

    %strong Celebração Religiosa
    %div
      %a{href:'#church'} Igreja Casa de Oração
    %p Rua João Francisco Brás, 16 - Centro

    %div
      %strong Recepção
    %div
      %a{href:'#room'} Salão de Festas Miguel Nardes
    %p Rua Cézar Vieira, 475 - Centro

  .col-md-9
    #map