%section#dialogs
  %h4 Estamos Casados!!!
  %p No dia 12 de julho de 2014, às 19 horas, realizamos o maior sonho de nossas vidas.
  %p
    Agrademos a todos por compartilhar conosco este momento tão especial.
  %p
    %br
    %a#btn-gifts.btn.btn-default{href: '#gifts', 'data-toggle' => 'modal'}
      %span.glyphicon.glyphicon-gift
      %span.title Lista de Presentes


%section#story
  %h4 Nossa História
  .video-wrapper
    %iframe{allowfullscreen: "", frameborder: "0", height: "365", mozallowfullscreen: "", src: "//player.vimeo.com/video/90476856?title=0&byline=0&portrait=0&color=ff9b83", webkitallowfullscreen: "", width: "650"}


%section#album
  %h4 Nosso Álbum
  #gallery.gamma-container.gamma-loading
    = render partial: 'photo', collection: @photos