%section
  %h4 Nós vamos nos casar!
  %p No dia 12 de julho de 2014, às 19 horas, nos casaremos na Igreja Casa de Oração, em Porciúncula/RJ.
  %p
    Logo após a cerimônia, ofereceremos um jantar aos convidados.
    Clique
    %a{href: '#locations'} aqui
    para saber mais sobre as localizações.


%section#story
  %h4 Nossa História


%section#register
  %h4 Confirmar Presença


%section#album
  %h4 Nosso Álbum


%section#gifts
  %h4 Listas de Presentes


%section#locations
  %h4 Localizações

