# config/aws.yml
defaults: &defaults
  access_key_id: "devkey"
  secret_access_key: "devsecret"
development:
  <<: *defaults
  bucket: "myapp-development"
test:
  <<: *defaults
  bucket: "myapp-test"
production:
  access_key_id: <%=ENV["AWS_ACCESS_KEY_ID"]%>
  secret_access_key: <%=ENV["AWS_SECRET_ACCESS_KEY"]%>
  bucket: "myapp"