# config/aws.yml
defaults: &defaults
  provider: 'AWS'
  aws_access_key_id: ""
  aws_secret_access_key: ""
  region: 'sa-east-1'
development:
  <<: *defaults
test:
  <<: *defaults
production:
  <<: *defaults