%p Montamos nossa lista de presentes em três sites:
%ul
  %li= link_to('http://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-6139497/', image_tag('americanas.png'), target: '_blank')