= simple_form_for @guest do |f|
  = f.input :code, label: 'Código presente atrás de um dos convites individuais'
  = f.input :confirmed_aggregates, label: 'Número de Acompanhantes'
  = f.button :submit, class: 'hidden'