%p Montamos nosssa lista nestas 3 lojas. Clique no site de sua preferência para acessá-la.
%ul.clearfix
  %li= link_to(image_tag('americanas.png', alt: 'Lojas Americanas'), 'http://carrinho.americanas.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-02-6139497/', target: '_blank', title: 'Lojas Americanas')
  %li= link_to(image_tag('shoptime.png', alt: 'Shoptime'), 'http://carrinho.shoptime.com.br/lista-de-casamento/pages/BridalRegistryHomePage/bridalRegistryId/01-01-427589/', target: '_blank', title: 'Shoptime')
  %li= link_to(image_tag('ricardo-eletro.png', alt: 'Ricardo Eletro'), 'http://www.ricardoeletro.com.br/ListaCasamento/ListaPresentes/51658/Julio-e-Jssica/', target: '_blank', title: 'Ricardo Eletro')
