// ===================================================//
//                                                    //
//                      COLORS                        //
//                                                    //
// ===================================================//

$pink: #FF9B83;




// ===================================================//
//                                                    //
//                       MISC                         //
//                                                    //
// ===================================================//

$basefont: 14;
$baseh1: 30;
$handwrite: 'Great Vibes', cursive;
$break-small: 641px;
$break-small-vertical: 360px;
$break-large: 1367px;