#gallery {
  opacity: 0;
  .item {
    a {
      display: block;
      opacity: 1;
      -webkit-transform: scale(1,1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1,1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
      &:hover {
        opacity: .7;
        -webkit-transform: scale(1.05,1.07);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1.05,1.07);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
        // position: relative;
        z-index: 99;
      }
      img { margin-bottom: 12px; margin-right: 12px; }
    }
  }
}