@import '_variables';
@import '_functions';
@import '_mixins';

#cover {
  // min-height: 377px;
  margin-bottom: 55px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  -webkit-background-size: contain;
  background-size: contain;

  @include respond-to(wide-screens) {
    .push { min-height: 800px; }
    background-image: image-url('cover.jpg');
    -webkit-background-size: cover;
    background-size: cover;
  }

  @include respond-to(medium-screens) {
    .push { height: 610px; }
    background-image: image-url('cover_alt.jpg');
  }

  @include respond-to(handhelds-horizontal) {
    .push { height: 310px; }
    background-image: image-url('cover_sm.jpg');
  }

  @include respond-to(handhelds-vertical) {
    .push { height: 180px; }
    background-image: image-url('cover_sm.jpg');
  }
}