#gifts {
  ul {
    margin: 30px 0 0; padding: 0;
    li {
      &:first-child {
        margin-left: 25px;
      }
      float: left;
      margin-left: 30px;
      list-style: none;
      img {
        width: 150px;
      }
    }
  }
}