@import '_variables';
@import '_functions';

header {
  .navbar { background-color: rgba(255,255,255,0.93);}
  .navbar-brand {
    font-family: $handwrite;
    font-size: em(34);
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: $pink !important;
  }
}