@import '_variables';
@import '_functions';

body {
  overflow: visible !important;
}

#main-container {
  section {
    margin-bottom: 80px;
    text-align: center;
    h4 {
      font-family: $handwrite;
      font-size: em(55);
      color: $pink;
    }
  }
}